@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sea-green: #6faeb8;
}

@layer utilities {
  .bg-sea-green {
    background-color: var(--sea-green);
  }
  .text-sea-green {
    color: var(--sea-green);
  }
}
